/* .hero-container{
    background: url('../images/radioactive.jpg') center center/cover no-repeat;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
} */

.apexcharts-tooltip {
    /* width: 500px;
    height:100px; */
  }

  #chartContainer .apexcharts-tooltip {
    color: #000000;
  }
  
  #chartContainer .apexcharts-tooltip .apexcharts-tooltip-series-group.active {
    background: #ffffff !important;
  }

.map-button{
    width: 900px;
    height:550px;
    position: absolute;
    left:5%;
    background: url('../images/google-map-background.jpg') center center/cover no-repeat;
}

.chart-button{
    width: 700px;
    height:550px;
    position: absolute;
    left:53%;
    background: url('../images/chart-background.jpg') center center/cover no-repeat;
}

.sensor-text, .sensor-location-text{
    color:white;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.sensor-value, .sensor-location-value{
    color: white;
    margin-left: 38%;
    font-size: 45px;
    display:inline-block;
}

.sensor-measurement{
    margin-left: 10px;
    color:white;
    font-size: 20px;
    display:inline-block;
}

.greatest-sensor-value-container, .sensor-location-container, .average-sensor-value-container, .exposure-level-container{
    background: linear-gradient(to right, #fec7a1 , #fe848e);
    background: linear-gradient(to right, #2ec7bd, #40acf4);
    /* background: linear-gradient(to right, #ee9ae6, #8873f3); */
    width: 16%;
    height: 125px;
    margin-top:2.5%;
    margin-left: 7%;
    display:inline-block;
    float:left;
    border-radius: 10px;
}

.dashboard-line-chart{
    float:left;
    display: inline-block;
    margin-left: 5%;
    margin-top: 10%;
    background: #2b2d3e;
    padding: 20px;
    border-radius: 10px;

}

.dashboard-bar-chart{
    float:left;
    padding: 20px;
    border-radius: 10px;
    background-color: #2b2d3e;
    display: inline-block;
    margin-top: 5%;
    margin-left: 28%;
    margin-bottom: 5%;

}
/* @media screen and (max-width: 1550px) {
    .hero-container{
        background: url('../images/radioactive.jpg') center center/cover no-repeat;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: contain;
        opacity: 0.9;
    }
} */